In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('dataframes')

In [12]:
df

    csv_path  total_records  metric
0  balbalbal           1000     555
1    bububub            200       0

In [7]:
df[0] = {'csv_path': 'bal', 'total_records': '3', 'metric': '3'}

In [8]:
df

               ind csv_path total_records metric    0
csv_path       NaN      NaN           NaN    NaN  bal
total_records  NaN      NaN           NaN    NaN    3
metric         NaN      NaN           NaN    NaN    3

In [3]:
df

Empty DataFrame
Columns: [csv_path, total_records, metric]
Index: []

In [ ]:
df