In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('dataframes')

In [12]:
df

    csv_path  total_records  metric
0  balbalbal           1000     555
1    bububub            200       0

In [7]:
df[0] = {'csv_path': 'bal', 'total_records': '3', 'metric': '3'}

In [8]:
df

               ind csv_path total_records metric    0
csv_path       NaN      NaN           NaN    NaN  bal
total_records  NaN      NaN           NaN    NaN    3
metric         NaN      NaN           NaN    NaN    3

In [3]:
df

Empty DataFrame
Columns: [csv_path, total_records, metric]
Index: []

In [ ]:
df

In [11]:
df2 = pd.read_csv("C:\\Users\\Olesia\\Desktop\\incomeStatement-GOOG-annual (1).csv", index_col = False)

In [12]:
df2.head(10)

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
0,2023-12-31,GOOG,USD,1652044,2024-01-31,2024-01-30 21:43:43,2023,FY,307394000000,133332000000,...,0.0,-1.059100e+10,2.112470e+11,1.484360e+11,1.563000e+09,-1.101900e+10,1.578920e+11,2.914600e+10,52000000.0,2.919800e+10
1,2022-12-31,GOOG,USD,1652044,2023-02-03,2023-02-02 21:23:45,2022,FY,282836000000,126203000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-31,GOOG,USD,1652044,2022-02-02,2022-02-01 21:08:02,2021,FY,257637000000,110939000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-31,GOOG,USD,1652044,2021-02-03,2021-02-02 20:12:25,2020,FY,182527000000,84732000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2.columns

Index(['date', ' symbol', ' reportedCurrency', ' cik', ' fillingDate',
       ' acceptedDate', ' calendarYear', ' period', ' revenue',
       ' costOfRevenue', ' grossProfit', ' grossProfitRatio',
       ' researchAndDevelopmentExpenses', ' generalAndAdministrativeExpenses',
       ' sellingAndMarketingExpenses',
       ' sellingGeneralAndAdministrativeExpenses', ' otherExpenses',
       ' operatingExpenses', ' costAndExpenses', ' interestIncome',
       ' interestExpense', ' depreciationAndAmortization', ' ebitda',
       ' ebitdaratio', ' operatingIncome', ' operatingIncomeRatio',
       ' totalOtherIncomeExpensesNet', ' incomeBeforeTax',
       ' incomeBeforeTaxRatio', ' incomeTaxExpense', ' netIncome',
       ' netIncomeRatio', ' eps', ' epsdiluted', ' weightedAverageShsOut',
       ' weightedAverageShsOutDil', ' link', ' finalLink',
       ' lastRetainedEarnings', ' stockRepurchases', ' dividendsPaid',
       ' otherDistributions', ' retainedEarnings', ' grossPPE',
       ' annualDepreciation', ' capitalExpenditure', ' netPPE',
       ' lastGoodwill', ' acquisitionsAndAdjustments', ' goodwill'],
      dtype='object')

In [14]:
df2.columns = df2.columns.str.strip()

In [15]:
df2.columns

Index(['date', 'symbol', 'reportedCurrency', 'cik', 'fillingDate',
       'acceptedDate', 'calendarYear', 'period', 'revenue', 'costOfRevenue',
       'grossProfit', 'grossProfitRatio', 'researchAndDevelopmentExpenses',
       'generalAndAdministrativeExpenses', 'sellingAndMarketingExpenses',
       'sellingGeneralAndAdministrativeExpenses', 'otherExpenses',
       'operatingExpenses', 'costAndExpenses', 'interestIncome',
       'interestExpense', 'depreciationAndAmortization', 'ebitda',
       'ebitdaratio', 'operatingIncome', 'operatingIncomeRatio',
       'totalOtherIncomeExpensesNet', 'incomeBeforeTax',
       'incomeBeforeTaxRatio', 'incomeTaxExpense', 'netIncome',
       'netIncomeRatio', 'eps', 'epsdiluted', 'weightedAverageShsOut',
       'weightedAverageShsOutDil', 'link', 'finalLink', 'lastRetainedEarnings',
       'stockRepurchases', 'dividendsPaid', 'otherDistributions',
       'retainedEarnings', 'grossPPE', 'annualDepreciation',
       'capitalExpenditure', 'netPPE', 'lastGoodwill',
       'acquisitionsAndAdjustments', 'goodwill'],
      dtype='object')

In [16]:
df2

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
0,2023-12-31,GOOG,USD,1652044,2024-01-31,2024-01-30 21:43:43,2023,FY,307394000000,133332000000,...,0.0,-1.059100e+10,2.112470e+11,1.484360e+11,1.563000e+09,-1.101900e+10,1.578920e+11,2.914600e+10,52000000.0,2.919800e+10
1,2022-12-31,GOOG,USD,1652044,2023-02-03,2023-02-02 21:23:45,2022,FY,282836000000,126203000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-31,GOOG,USD,1652044,2022-02-02,2022-02-01 21:08:02,2021,FY,257637000000,110939000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-31,GOOG,USD,1652044,2021-02-03,2021-02-02 20:12:25,2020,FY,182527000000,84732000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df2['grossProfitcalc'] = df2['revenue'] - df2['costOfRevenue']

In [20]:
df2

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill,grossProfitcalc
0,2023-12-31,GOOG,USD,1652044,2024-01-31,2024-01-30 21:43:43,2023,FY,307394000000,133332000000,...,-1.059100e+10,2.112470e+11,1.484360e+11,1.563000e+09,-1.101900e+10,1.578920e+11,2.914600e+10,52000000.0,2.919800e+10,174062000000
1,2022-12-31,GOOG,USD,1652044,2023-02-03,2023-02-02 21:23:45,2022,FY,282836000000,126203000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156633000000
2,2021-12-31,GOOG,USD,1652044,2022-02-02,2022-02-01 21:08:02,2021,FY,257637000000,110939000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146698000000
3,2020-12-31,GOOG,USD,1652044,2021-02-03,2021-02-02 20:12:25,2020,FY,182527000000,84732000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97795000000

In [21]:
df3 = pd.read_csv('C:\\Users\\Olesia\\Desktop\\incomeStatement-AAPL-annual.csv')

In [22]:
df3

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
2023-09-30,AAPL,USD,320193,2023-11-03,2023-11-02 18:08:27,2023,FY,383285000000,214137000000,169148000000,...,-2.638300e+10,-214000000.0,5.437600e+10,2.653000e+09,-2.163000e+09,5.388600e+10,0.0,0.0,0.0,NaN
2022-09-24,AAPL,USD,320193,2022-10-28,2022-10-27 18:01:14,2022,FY,394328000000,223546000000,170782000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,365817000000,212981000000,152836000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,274515000000,169559000000,104956000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df4 = pd.read_csv("C:\\Users\\Olesia\\Desktop\\incomeStatement-MSFT-annual.csv")

In [24]:
df4

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
2023-06-30,MSFT,USD,789019,2023-07-27,2023-07-27 16:01:56,2023,FY,211915000000,65863000000,146052000000,...,-144000000.0,1.188480e+11,1.099870e+11,3.874000e+09,-8.943000e+09,1.150560e+11,6.794000e+10,-54000000.0,6.788600e+10,NaN
2022-06-30,MSFT,USD,789019,2022-07-28,2022-07-28 16:06:19,2022,FY,198270000000,62650000000,135620000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30,MSFT,USD,789019,2021-07-29,2021-07-29 16:21:55,2021,FY,168088000000,52232000000,115856000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30,MSFT,USD,789019,2020-07-30,2020-07-30 20:44:46,2020,FY,143015000000,46078000000,96937000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df5 = pd.read_csv("C:\\Users\\Olesia\\Desktop\\incomeStatement-RDDT-annual.csv")

In [33]:
df5

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
2023-12-31,RDDT,USD,1713445,2023-12-31,2023-12-30 19:00:00,2023,FY,804029000,111011000,693018000,...,18443000.0,-716562000.0,38954000.0,3755000.0,-4602000.0,39801000.0,26299000.0,0.0,26299000.0,NaN
2022-12-31,RDDT,USD,1713445,2022-12-31,2022-12-30 19:00:00,2022,FY,666701000,104799000,561902000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,RDDT,USD,1713445,2021-12-31,2021-12-30 19:00:00,2021,FY,484916000,72565000,412351000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,RDDT,USD,1713445,2020-12-31,2020-12-30 19:00:00,2020,FY,228908000,55026000,173882000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df6 = pd.read_csv("C:\\Users\\Olesia\\Downloads\\incomeStatement-NFLX-annual.csv", index_col= False)

In [5]:
df6

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,dividendsPaid,otherDistributions,retainedEarnings,grossPPE,annualDepreciation,capitalExpenditure,netPPE,lastGoodwill,acquisitionsAndAdjustments,goodwill
0,2023-12-31,NFLX,USD,1065280,2024-01-26,2024-01-26 16:01:56,2023,FY,33723297000,19715368000,...,0.0,-1.562162e+09,2.258929e+10,1.491444e+09,3.840646e+09,-81632000.0,-2.267570e+09,0.0,0.0,0.0
1,2022-12-31,NFLX,USD,1065280,2023-01-26,2023-01-26 16:03:50,2022,FY,31615550000,19168285000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-31,NFLX,USD,1065280,2022-01-27,2022-01-27 17:03:33,2021,FY,29697844000,17332683000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-31,NFLX,USD,1065280,2021-01-28,2021-01-28 16:21:59,2020,FY,24996056000,15276319000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN